#edit_mode_button {
    font-size: 48px;
    cursor: pointer;
    float: right;
    margin-left: 5px;

    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#edit_bar {
    // background: #77f;
    display: block;
    text-align: right;
    height: 50px;
}

.edit-button {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slides-list {
    list-style: none;
    font-size: 0px;
}

.slides-list li {
    display: inline-block;
    width: 216px;
    margin: 4px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;

    -webkit-transition: box-shadow .5s ease; /* Safari and Chrome */
    -moz-transition: box-shadow .5s ease; /* Firefox */
    -ms-transition: box-shadow .5s ease; /* IE 9 */
    -o-transition: box-shadow .5s ease; /* Opera */
    transition: box-shadow .5s ease;
}

.slides-list li div {
    overflow: hidden;
}

.slides-list li img {
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.slides-list li img:hover {
    -webkit-transform:scale(1.25) rotate(-10deg); /* Safari and Chrome */
    -moz-transform:scale(1.25) rotate(-10deg); /* Firefox */
    -ms-transform:scale(1.25) rotate(-10deg); /* IE 9 */
    -o-transform:scale(1.25) rotate(-10deg); /* Opera */
    transform:scale(1.25) rotate(-10deg);

}

.slides-list li input {
    display: none;
}

#selectable .ui-selecting {
    box-shadow: 0 0 10px #0f0;
}

#selectable .ui-selected {
    box-shadow: 0 0 10px 2px #f33;
}


.slides-container {
    list-style: none;
    font-size: 0px;
}

.slide-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 210px;
    height: 210px;
    margin: 0px;
    
}

.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    // width: 200px;
    font-size: 16px;
    // border: 1px solid #fff;
    vertical-align: top;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.zoom-container img {
    display: block;
    width: 100%;
    height: auto;

    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.portrait {
  transform: translate(0px, -80px);
}

.zoom-container .zoom-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
    opacity: 0;
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    color: #fff;
    margin: 23% 0 0;
    padding: 10px 0;
    // border-top: 5px solid rgba(255, 255, 255, .15);
    // border-bottom: 5px solid rgba(255, 255, 255, .15);
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.zoom-container .zoom-caption h3:hover {
    opacity: 1;
}

.zoom-container:hover img {
    -webkit-transform:scale(1.25) rotate(-10deg); /* Safari and Chrome */
    -moz-transform:scale(1.25) rotate(-10deg); /* Firefox */
    -ms-transform:scale(1.25) rotate(-10deg); /* IE 9 */
    -o-transform:scale(1.25) rotate(-10deg); /* Opera */
    transform:scale(1.25) rotate(-10deg);
}
.zoom-container:hover .zoom-caption {
    background: none;
}

@media (max-width: 767px) {
    .zoom-container {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .zoom-container {
        width: 100%;
    }
}
