<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-chevron-down"></span>
      </a>
      <a class="brand" href="#">Footoo</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Albums", albums_path %></li>
          <li><%= link_to "Upload" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
